<div class="carousel slide banners-nav" data-ride="carousel">
	<div class="carousel-inner">
		<div class="item">
			<!-- admitad.banner: f116bd02bd6c4309a3890d79a64861 Reg.ru -->
			<a target="_blank" rel="nofollow" href="http://ad.admitad.com/goto/f116bd02bd6c4309a3890d79a64861/">
			<img width="200" height="300" border="0" src="http://ad.admitad.com/b/f116bd02bd6c4309a3890d79a64861/" alt="Reg.ru" />
			</a>
			<!-- /admitad.banner -->
		</div>
		<div class="item">
			<!-- admitad.banner: 724c0bc0376c4309a3891c8c77dab6 2КОМ -->
			<a target="_blank" rel="nofollow" href="http://ad.admitad.com/goto/724c0bc0376c4309a3891c8c77dab6/">
			<img width="200" height="300" border="0" src="http://ad.admitad.com/b/724c0bc0376c4309a3891c8c77dab6/" alt="2КОМ" />
			</a>
			<!-- /admitad.banner -->
		</div>
		<div class="item">
			<a target="_blank" rel="nofollow" href="http://timeweb.ru/?i=17078&a=63"><img style="border:0px;" src="http://timeweb.ru/img/b/200x300/200x300-4.gif"></a>
		</div>
		<div class="item">
			<!-- admitad.banner: b2d5bfb7eb6c4309a38915ae281b7a JOB.RU -->
			<a target="_blank" rel="nofollow" href="http://ad.admitad.com/goto/b2d5bfb7eb6c4309a38915ae281b7a/">
			<img width="200" height="300" border="0" src="http://ad.admitad.com/b/b2d5bfb7eb6c4309a38915ae281b7a/" alt="JOB.RU" />
			</a>
			<!-- /admitad.banner -->
		</div>
		<div class="item">
			<!-- admitad.banner: e6d53deb506c4309a3892bcc563699 Net by Net -->
			<a target="_blank" rel="nofollow" href="http://ad.admitad.com/goto/e6d53deb506c4309a3892bcc563699/">
			<img width="200" height="300" border="0" src="http://ad.admitad.com/b/e6d53deb506c4309a3892bcc563699/" alt="Net by Net" />
			</a>
			<!-- /admitad.banner -->
		</div>
			<div class="item">
			<!-- admitad.banner: 77365cbb466c4309a3893a47696a87 Нетология -->
			<a target="_blank" rel="nofollow" href="//ad.admitad.com/goto/77365cbb466c4309a3893a47696a87/?i=4">
			<img width="200" height="200" border="0" src="//ad.admitad.com/b/77365cbb466c4309a3893a47696a87/" alt="Нетология" />
			</a>
			<!-- /admitad.banner -->
		</div>
	</div>
</div>