<div class="carousel slide banners-top" data-ride="carousel">
	<div class="carousel-inner">
		<div class="item">
				<a target="_blank" href="http://timeweb.ru/?i=17078&a=121"><img style="border:0px;" src="http://timeweb.ru/img/b/300x250/300x250-5.jpg"></a>
		</div>
		<div class="item">
			<!-- admitad.banner: b5cf8b04c96c4309a389c814d4b7c0 LinguaLeo -->
			<a target="_blank" rel="nofollow" href="http://ad.admitad.com/goto/b5cf8b04c96c4309a389c814d4b7c0/">
			<img width="300" height="250" border="0" src="http://ad.admitad.com/b/b5cf8b04c96c4309a389c814d4b7c0/" alt="LinguaLeo" />
			</a>
			<!-- /admitad.banner -->
		</div>
		<div class="item">
		<!-- admitad.banner: 84e7a69c026c4309a3893a47696a87 Нетология -->
		<a target="_blank" rel="nofollow" href="//ad.admitad.com/goto/84e7a69c026c4309a3893a47696a87/?i=4">
		<img width="300" height="250" border="0" src="//ad.admitad.com/b/84e7a69c026c4309a3893a47696a87/" alt="Нетология" />
		</a>
		<!-- /admitad.banner -->
		</div>
		<div class="item">
			<a target="_blank" href="http://timeweb.ru/?i=17078&a=171"><img style="border:0px;" src="http://timeweb.ru/img/b/300x250/vds-300-250-2.jpg"></a>
		</div>
		<div class="item">
			<!-- admitad.banner: d3aa7242006c4309a389d1ebd2006e ActiveCloud -->
			<a target="_blank" rel="nofollow" href="http://ad.admitad.com/goto/d3aa7242006c4309a389d1ebd2006e/">
			<img width="300" height="250" border="0" src="http://ad.admitad.com/b/d3aa7242006c4309a389d1ebd2006e/" alt="ActiveCloud" />
			</a>
			<!-- /admitad.banner -->
		</div>
		<div class="item">
		<!-- admitad.banner: 4d2a41bc0a6c4309a3893a47696a87 Нетология -->
		<a target="_blank" rel="nofollow" href="//ad.admitad.com/goto/4d2a41bc0a6c4309a3893a47696a87/?i=4">
		<img width="300" height="250" border="0" src="//ad.admitad.com/b/4d2a41bc0a6c4309a3893a47696a87/" alt="Нетология" />
		</a>
		<!-- /admitad.banner -->
		</div>
		<div class="item">
		<!-- admitad.banner: ac029b31306c4309a389f339406e2f Foxford -->
		<a target="_blank" rel="nofollow" href="//ad.admitad.com/goto/ac029b31306c4309a389f339406e2f/?i=4">
		<img width="300" height="250" border="0" src="//ad.admitad.com/b/ac029b31306c4309a389f339406e2f/" alt="Foxford" />
		</a>
		<!-- /admitad.banner -->
		</div>
	</div>
</div>
