<div class="carousel slide banners-bottom" data-ride="carousel">
	<div class="carousel-inner">
		<div class="item">
			<!-- admitad.banner: 5966270ed36c4309a38924ebb742f6 Fornex Hosting -->
			<a target="_blank" rel="nofollow" href="http://ad.admitad.com/goto/5966270ed36c4309a38924ebb742f6/">
			<img width="240" height="400" border="0" src="http://ad.admitad.com/b/5966270ed36c4309a38924ebb742f6/" alt="Fornex Hosting" />
			</a>
			<!-- /admitad.banner -->
		</div>
		<div class="item">
			<script language="JavaScript" type="text/javascript">
			(function() {var d=document; var s=d.createElement('script'); var id = Math.floor(Math.random()*999);d.write('<div id="x'+id+'"></div>');s.type = 'text/javascript';s.async = true;s.src = 'http://cityads.ru/service/promo/?bid=77305&size=240x400&cid=45bd20eec0d11a223041c99a8ac9029c&sa=&dv='+id; var x=d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();
			</script>
		</div>
		<div class="item">
			<!-- admitad.banner: 1fb8fb14fb6c4309a3891c8c77dab6 2КОМ -->
			<a target="_blank" rel="nofollow" href="http://ad.admitad.com/goto/1fb8fb14fb6c4309a3891c8c77dab6/">
			<img width="240" height="400" border="0" src="http://ad.admitad.com/b/1fb8fb14fb6c4309a3891c8c77dab6/" alt="2КОМ" />
			</a>
			<!-- /admitad.banner -->
		</div>
		<div class="item">
			<!-- admitad.banner: 3a8841ce9e6c4309a389dd7d1c0536 E5 -->
			<a target="_blank" rel="nofollow" href="http://ad.admitad.com/goto/3a8841ce9e6c4309a389dd7d1c0536/">
			<img width="240" height="400" border="0" src="http://ad.admitad.com/b/3a8841ce9e6c4309a389dd7d1c0536/" alt="E5" />
			</a>
			<!-- /admitad.banner -->
		</div>
		<div class="item">
			<!-- admitad.banner: 30a24dc4046c4309a3890d79a64861 Reg.ru -->
			<a target="_blank" rel="nofollow" href="http://ad.admitad.com/goto/30a24dc4046c4309a3890d79a64861/">
			<img width="240" height="400" border="0" src="http://ad.admitad.com/b/30a24dc4046c4309a3890d79a64861/" alt="Reg.ru" />
			</a>
			<!-- /admitad.banner -->
		</div>
		<div class="item">
			<script language="JavaScript" type="text/javascript">
			(function() {var d=document; var s=d.createElement('script'); var id = Math.floor(Math.random()*999);d.write('<div id="x'+id+'"></div>');s.type = 'text/javascript';s.async = true;s.src = 'http://cityads.ru/service/promo/?bid=219645&size=240x400&cid=45bd20eec0d11a223041c99a8ac9029c&sa=&dv='+id; var x=d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); })();
			</script>
		</div>
		<div class="item">
			<a target="_blank" href="http://timeweb.ru/?i=17078&a=169"><img style="border:1px solid #bdc0c6;" src="http://timeweb.ru/img/b/240x400/vds-240-400-2.jpg"></a>
		</div>
		<div class="item">
			<!-- admitad.banner: 09ce76b0186c4309a389d1ebd2006e ActiveCloud -->
			<a target="_blank" rel="nofollow" href="http://ad.admitad.com/goto/09ce76b0186c4309a389d1ebd2006e/">
			<img width="240" height="400" border="0" src="http://ad.admitad.com/b/09ce76b0186c4309a389d1ebd2006e/" alt="ActiveCloud" />
			</a>
			<!-- /admitad.banner -->
		</div>
		<div class="item">
			<!-- admitad.banner: 5f4896e3c66c4309a3892bcc563699 Net by Net -->
			<a target="_blank" rel="nofollow" href="http://ad.admitad.com/goto/5f4896e3c66c4309a3892bcc563699/">
			<img width="240" height="400" border="0" src="http://ad.admitad.com/b/5f4896e3c66c4309a3892bcc563699/" alt="Net by Net" />
			</a>
			<!-- /admitad.banner -->
		</div>
	</div>
</div>

