<div class="bs-docs-section">
  <h1 id="disable-responsive" class="page-header">Блокировка адаптивности</h1>

  <p class="lead">Bootstrap автоматически адаптирует просмотр страниц под несколько размеров экранов.
 Здесь показано как заблокировать такую возможность, чтобы страницы отображались как в <a href="../examples/non-responsive/">этом нечувствительном шаблоне</a>.</p>

  <h3>Шаги для блокировки адаптивного просмотра</h3>
  <ol>
    <li>Не создавайте <code>&lt;meta&gt;</code> с именем <b>viewport</b> как об этом сказано в <a href="../css/#overview-mobile">документах CSS</a></li>
    <li>Отмените <code>width</code>, <code>.container</code> для каждого уровня разметки определенной ширины, например так : <code>width: 970px !important;</code> Убедитесь, что этот код идет после включения основного кода Bootstrap CSS. При желании можно избежать <code>!important</code> с медиа-запросами или со специальным селектором.</li>
    <li>Если вы используете навигационное меню, удалите все меню, которые могут сворачиваться/разворачиваться.</li>
    <li>Для макета разметки используйте классы <code>.col-xs-*</code> как дополнение или вместо классов medium/large. Не волнуйтесь, разметка с классом <code>xs</code> (extra small) масштабируется для всех размеров экранов.</li>
  </ol>
  <p>Вам все еще нужен Respond.js для IE8 (поскольку наши медиа-запросы все еще существуют и должны обрабатываться).
 Это заблокирует свойство "мобильность сайта" Bootstrap.</p>

  <h3>Шаблон Bootstrap с заблокированной адаптивностью</h3>
  <p>Эти шаги мы применили для примера. Просмотрите исходный код, чтобы увидеть специфические отличия.</p>
  <p>
 <a href="../examples/non-responsive/" class="btn btn-primary">Просмотреть пример неадаптивного шаблона</a>
 </p>
</div>
