<div class="bs-docs-section">
  <h1 id="download" class="page-header">Загрузка</h1>

  <p class="lead">Bootstrap (текущая v{{ site.current_version }}) имеет несколько способов чтобы начать работу, каждый из которых интересен в зависимости от уровня опыта и конкретной потребности использования. Посмотрите что лучше всего подходит именно вам.</p>

  <div class="row bs-downloads">
    <div class="col-sm-4">
      <h3 id="download-bootstrap">Bootstrap</h3>
      <p>Компилирований и минимизированный CSS, JavaScript, и шрифты. Нет документов или оригинальные исходные файлы не включены.</p>
      <p>
        <a href="{{ site.download.dist }}" class="btn btn-lg btn-outline" role="button" onclick="ga('send', 'event', 'Getting started', 'Download', 'Download compiled');">Скачать Bootstrap</a>
      </p>
    </div>
    <div class="col-sm-4">
      <h3 id="download-source">Исходный код</h3>
      <p>Исходный Less, JavaScript, и файлы шрифтов, вместе с нашими документами. <strong> Требуется компилятор Less и <a href="#grunt">другие настройки.</a></strong></p>
      <p>
        <a href="{{ site.download.source }}" class="btn btn-lg btn-outline" role="button" onclick="ga('send', 'event', 'Getting started', 'Download', 'Download source');">Скачать исходники</a>
      </p>
    </div>
    <div class="col-sm-4">
      <h3 id="download-sass">Sass</h3>
      <p><a href="{{ site.sass_repo }}">Bootstrap перенесен из Less в Sass</a> для легкого включения в Rails, Compass, или проекты Sass-only.</br></p>
      <p>
        <a href="{{ site.download.sass }}" class="btn btn-lg btn-outline" role="button" onclick="ga('send', 'event', 'Getting started', 'Download', 'Download Sass');">Скачать Sass</a>
      </p>
    </div>
  </div>

  <h3 id="download-cdn">Bootstrap CDN</h3>
  <p>Сотрудники <a href="http://www.maxcdn.com/">MaxCDN</a> любезно предоставили поддержку CDN для Bootstrap CSS и JavaScript. Просто используйте эти ссылки <a href="http://www.bootstrapcdn.com/">Bootstrap CDN</a>.</p>
{% highlight html %}
<!-- Последняя компиляция и сжатый CSS -->
<link rel="stylesheet" href="{{ site.cdn.css }}">

<!-- Дополнение к теме -->
<link rel="stylesheet" href="{{ site.cdn.css_theme }}">

<!-- Последняя компиляция и сжатый JavaScript -->
<script src="{{ site.cdn.js }}"></script>
{% endhighlight %}

  <h3 id="download-bower">Установка с помощью Bower</h3>
  <p>You can also install and manage Bootstrap's Less, CSS, JavaScript, and fonts using <a href="http://bower.io">Bower</a>:</p>
  {% highlight bash %}$ bower install bootstrap{% endhighlight %}
</div>
