<div class="bs-docs-section">
  <h1 id="examples" class="page-header">Примеры шаблонов</h1>

  <p class="lead">На шаблоне, что представлен выше, Bootstrap создает множество компонентов. Мы рекомендуем Вам настроить и адаптировать Bootstrap в соответствии с потребностями Вашего индивидуального проекта.</p>

  <h3 id="examples-framework">Использование фреймверка</h3>
  <div class="row bs-examples">
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/starter-template/">
        <img src="../examples/screenshots/starter-template.jpg" alt="Starter template example">
      </a>
      <h4>Стартовый шаблон</h4>
      <p>Ничего кроме базового: сборник CSS, JavaScript, и использован контейнер.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/theme/">
        <img src="../examples/screenshots/theme.jpg" alt="Bootstrap theme example">
      </a>
      <h4>Темы Bootstrap</h4>
      <p>Настройте темы Bootstrap чтобы разнообразить вид страниц.</p>
    </div>
    <div class="clearfix visible-xs"></div>

    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/grid/">
        <img src="../examples/screenshots/grid.jpg" alt="Multiple grids example">
      </a>
      <h4>Разметки</h4>
      <p>Несколько примеров макетов разметки со всеми четырьмя уровнями вложенности и прочее.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/jumbotron/">
        <img src="../examples/screenshots/jumbotron.jpg" alt="Jumbotron example">
      </a>
      <h4>Jumbotron</h4>
      <p>Создание вокруг большого экрана навигационной панели и нескольких колонок, используя базовую систему разметки.</p>
    </div>
    <div class="clearfix visible-xs"></div>

    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/jumbotron-narrow/">
        <img src="../examples/screenshots/jumbotron-narrow.jpg" alt="Narrow jumbotron example">
      </a>
      <h4>Узкий Jumbotron</h4>
      <p>Создание более персонализированных страниц через сужение контейнера по умолчанию и большого экрана.</p>
    </div>
  </div>

  <h3 id="examples-navbars">Navbars в действии</h3>
  <div class="row bs-examples">
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/navbar/">
        <img src="../examples/screenshots/navbar.jpg" alt="Navbar example">
      </a>
      <h4>Навигационное меню</h4>
      <p>Базовый шаблон, который включает навигационное меню вместе с дополнительным содержанием.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/navbar-static-top/">
        <img src="../examples/screenshots/navbar-static.jpg" alt="Static top navbar example">
      </a>
      <h4>Статическое навигационное меню</h4>
      <p>Базовый шаблон, который включает навигационное меню вместе с дополнительным содержанием.</p>
    </div>
    <div class="clearfix visible-xs"></div>

    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/navbar-fixed-top/">
        <img src="../examples/screenshots/navbar-fixed.jpg" alt="Fixed navbar example">
      </a>
      <h4>Фиксированное навигационное меню</h4>
      <p>Базовый шаблон, который включает навигационное меню вместе с дополнительным содержанием.</p>
    </div>
  </div>

  <h3 id="examples-custom">Пользовательские компоненты</h3>
  <div class="row bs-examples">
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/cover/">
        <img src="../examples/screenshots/cover.jpg" alt="A one-page template example">
      </a>
      <h4>Cover</h4>
      <p>Одностраничный шаблон для построения простых и красивых домашних страниц.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/carousel/">
        <img src="../examples/screenshots/carousel.jpg" alt="Carousel example">
      </a>
      <h4>Карусель</h4>
      <p>Сочетание в шаблоне нав. меню и карусели, с добавлением некоторых новых компонентов.</p>
    </div>
    <div class="clearfix visible-xs"></div>

    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/blog/">
        <img src="../examples/screenshots/blog.jpg" alt="Blog layout example">
      </a>
      <h4>Блог</h4>
      <p>Простой блог в две колонки с пользовательской навигацией, заголовком, и видом.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/dashboard/">
        <img src="../examples/screenshots/dashboard.jpg" alt="Dashboard example">
      </a>
      <h4>Панель приборов</h4>
      <p>Базовая структура для администратора приборная панель с фиксированным боковым меню и панели навигации.</p>
    </div>
    <div class="clearfix visible-xs"></div>

    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/signin/">
        <img src="../examples/screenshots/sign-in.jpg" alt="Sign-in page example">
      </a>
      <h4>Страница входа</h4>
      <p>Шаблон пользовательской формы настроен для простого входа на сайт.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/justified-nav/">
        <img src="../examples/screenshots/justified-nav.jpg" alt="Justified nav example">
      </a>
      <h4>Выровненное нав. меню</h4>
      <p>Создание компонованого нав. меню с выровненными ссылками. Внимание! <a href="../components/#nav-justified">Не очень дружит с Safari.</a></p>
    </div>
    <div class="clearfix visible-xs"></div>

    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/sticky-footer/">
        <img src="../examples/screenshots/sticky-footer.jpg" alt="Sticky footer example">
      </a>
      <h4>Sticky footer</h4>
      <p>Закрепление колонтитула в нижней части браузера для случая, когда высота контента сама собой не делает этого.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/sticky-footer-navbar/">
        <img src="../examples/screenshots/sticky-footer-navbar.jpg" alt="Sticky footer with navbar example">
      </a>
      <h4>Sticky footer with navbar</h4>
      <p>Прикреплено колонтитул в нижнюю часть браузера, с нав. меню в верхней части.</p>
    </div>
  </div>

  <h3 id="examples-experiments">Эксперименты</h3>
  <div class="row bs-examples">
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/non-responsive/">
        <img src="../examples/screenshots/non-responsive.jpg" alt="Non-responsive example">
      </a>
      <h4>Неадаптивный Bootstrap</h4>
      <p>Легко отключить адаптивность Bootstrap <a href="#disable-responsive">согласно нашим документам</a>.</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <a class="thumbnail" href="../examples/offcanvas/">
        <img src="../examples/screenshots/offcanvas.jpg" alt="Off-canvas navigation example">
      </a>
      <h4>Offcanvas</h4>
      <p>Создание навигационного off-canvas меню с возможностью переключения для Bootstrap.</p>
    </div>
  </div>
</div>
