<div class="bs-docs-section">
  <h1 id="license-faqs" class="page-header">Лицензия FAQs</h1>
  <p class="lead">Bootstrap выпущено под лицензией MIT и имеет авторское право {{ site.time | date: "%Y" }} Twitter. Сведена к меньшим частям, и может быть описана следующими условиями.</p>

  <h4>Она требует:</h4>
  <ul>
    <li>Включите лицензию и уведомление об авторских правах в ваших работах</li>
  </ul>

  <h4>Она позволяет:</h4>
  <ul>
    <li>Свободно скачивать и использовать Bootstrap, полностью или частично, для личного, частного, внутренних или коммерческих целях компании</li>
    <li>Использовать Bootstrap в пакетах или в дистрибуции, которую вы сами создаете</li>
    <li>Измените исходный код</li>
    <li>Грант сублицензии изменять и распространять Bootstrap третьим лицам, не включенных в лицензии</li>
  </ul>

  <h4>Она запрещает:</h4>
  <ul>
    <li>Держите авторов и владельцев лицензий несет ответственности за ущерб, как Bootstrap предоставляется без гарантии</li>
    <li>Держите создателей или владельцев авторских прав к ответственности Bootstrap</li>
    <li>Распространять любую часть Bootstrap без ссылки на источник</li>
    <li>Использовать любые пометки, которые относятся к Twitter, чтобы в такой способ явно или неявно продемонстрировал, что Twitter одобряет ваш дистрибутив</li>
    <li>Использовать любые пометки, которые относятся к Twitter, чтобы в такой способ явно или неявно продемонстрировал будто вы создаете программное обеспечение по запросу Twitter</li>
  </ul>

  <h4>Она не требует:</h4>
  <ul>
    <li>Включает в себя исходный код Bootstrap, или о любых изменениях, которые вы сделали с ним, можно собирать в другие дистрибутивы то, что он включает в себя</li>
    <li>Предоставлять изменения, которые вы внесли в Bootstrap для демонстрации в проекте Bootstrap (хотя обратная связь приветствуется)</li>
  </ul>

  <p>Полная версия лицензии Bootstrap размещена <a href="{{ site.repo }}/blob/master/LICENSE">в проекте репозитория</a> более подробно.</p>
</div>
