<div class="bs-docs-section">
  <h1 id="alerts" class="page-header">Уведомления</h1>

  <p class="lead">Предоставьте контекстные интерактивные замечания для типовых действий пользователей.</p>

  <h2 id="alerts-examples">Примеры</h2>
  <p>Для базовых замечаний, оберните любой текст и опциональную кнопку при помощи <code>.alert</code>, и одного из четырех контекстных классов (например, <code>.alert-success</code>).</p>

  <div class="bs-callout bs-callout-info" id="callout-alerts-no-default">
    <h4>Без класса по умолчанию</h4>
    <p>Важные сообщения не имеют классов по умолчанию, а имеют лишь базовые классы и модификаторы классов. Важные серые сообщения по умолчанию имеют мало смысла, так что вам еще нужно отметить для них тип через контекстный класс. Можете выбрать какой-то из замечаний: успешное, информативное, предупредительное, опасное.</p>
  </div>

  <div class="bs-example" data-example-id="simple-alerts">
    <div class="alert alert-success" role="alert">
      <strong>Well done!</strong> You successfully read this important alert message.
    </div>
    <div class="alert alert-info" role="alert">
      <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
    </div>
    <div class="alert alert-warning" role="alert">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div>
    <div class="alert alert-danger" role="alert">
      <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>
  </div>
{% highlight html %}
<div class="alert alert-success" role="alert">...</div>
<div class="alert alert-info" role="alert">...</div>
<div class="alert alert-warning" role="alert">...</div>
<div class="alert alert-danger" role="alert">...</div>
{% endhighlight %}

  <h2 id="alerts-dismissible">Неотстранимое оповещение</h2>
  <p>Создавайте любые замечания добавив необязательные <code>.alert-dismissible</code> и кнопку закрытия.</p>
  <div class="bs-callout bs-callout-info" id="callout-alerts-dismiss-plugin">
    <h4>Требуется JavaScript alert плагин</h4>
    <p>For fully functioning, dismissible alerts, you must use the <a href="../javascript/#alerts">alerts JavaScript plugin</a>.</p>
  </div>
  <div class="bs-example" data-example-id="dismissible-alert-css">
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </div>
  </div>
{% highlight html %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Warning!</strong> Better check yourself, you're not looking too good.
</div>
{% endhighlight %}

  <div class="bs-callout bs-callout-warning" id="callout-alerts-dismiss-use-button">
    <h4>Обеспечьте правильное поведение на всех устройствах</h4>
    <p>Убедитесь, что используете элемент <code>&lt;button&gt;</code> с атрибутом <code>data-dismiss="alert"</code>.</p>
  </div>

  <h2 id="alerts-links">Ссылки в замечаниях</h2>
  <p>Используйте вспомогательный класс <code>.alert-link</code>, чтобы быстро предоставить соответствующие цветные ссылки в пределах любого замечания.</p>
  <div class="bs-example" data-example-id="alerts-with-links">
    <div class="alert alert-success" role="alert">
      <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
    </div>
    <div class="alert alert-info" role="alert">
      <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
    </div>
    <div class="alert alert-warning" role="alert">
      <strong>Warning!</strong> Better check yourself, you're <a href="#" class="alert-link">not looking too good</a>.
    </div>
    <div class="alert alert-danger" role="alert">
      <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
    </div>
  </div>
{% highlight html %}
<div class="alert alert-success" role="alert">
  <a href="#" class="alert-link">...</a>
</div>
<div class="alert alert-info" role="alert">
  <a href="#" class="alert-link">...</a>
</div>
<div class="alert alert-warning" role="alert">
  <a href="#" class="alert-link">...</a>
</div>
<div class="alert alert-danger" role="alert">
  <a href="#" class="alert-link">...</a>
</div>
{% endhighlight %}
</div>
