<div class="bs-docs-section">
  <h1 id="jumbotron" class="page-header">Jumbotron</h1>

  <p>Легкий, гибкий компонент, который можно расширять на весь экран, чтобы продемонстрировать ключевой содержимое вашего сайта.</p>
  <div class="bs-example" data-example-id="simple-jumbotron">
    <div class="jumbotron">
      <h1>Привет, мир!</h1>
      <p>Это простая и очень выразительная часть с большим экраном, для привлечения дополнительного внимания к вашей информации.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Узнать больше</a></p>
    </div>
  </div>
{% highlight html %}
<div class="jumbotron">
  <h1>Привет, мир!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Узнать больше</a></p>
</div>
{% endhighlight %}
  <p>Создайте большой экран на всю ширину, без закругленных углов, который размещен за пределами <code>.container</code>, но, вместо этого, который вмещает <code>.container</code>.</p>
{% highlight html %}
<div class="jumbotron">
  <div class="container">
    ...
  </div>
</div>
{% endhighlight %}
</div>
