<div class="bs-docs-section">
  <h1 id="page-header" class="page-header">Заголовок страницы</h1>

  <p>Представляем вам простую оболочку для <code>h1</code>, которая устанавливает соответствующий отступ и сегментирует содержание страницы. В ней можно использовать элемент по умолчанию <code>small</code> и <code>h1</code>, а также много других компонентов (с дополнительными стилями).</p>
  <div class="bs-example" data-example-id="simple-page-header">
    <div class="page-header">
      <h1>Пример заголовка страницы <small>Дополнительный текст</small></h1>
    </div>
  </div>
{% highlight html %}
<div class="page-header">
  <h1>Пример заголовка страницы <small>Дополнительный текст</small></h1>
</div>
{% endhighlight %}
</div>
